@use "mixins";

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css") (max-width: 375px);

:root {
  --grayscale-white: #ffffff;
  --grayscale-grey-0: #f6f7f8;
  --grayscale-grey-1: #eef0f2;
  --grayscale-grey-5: #72778e;
  --grayscale-grey-6: #515774;
  --grayscale-grey-7: #3a4162;
  --grayscale-grey-8: #171f46;
  --grayscale-grey-60: #50525a;
  --grayscale-grey-70: #3a3c46;

  --haru-purple-5: #f7f8ff;
  --haru-purple-10: #eef0fd;
  --haru-purple-20: #e1e4fc;
  --haru-purple-100: #5a41f5;
  --haru-purple-120: #3f23eb;

  --state-sucess-default: #45ba8b;
  --state-error-default: #ca303c;

  --korean-font: "Spoqa Han Sans Neo"
}

  
@include mixins.breakpoint(mobile) {
  :root {
    --korean-font: "Pretendard"
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

html,
body {
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}
