.more-btn {
  margin: 24px 0;
  background-color: var(--grayscale-grey-0);
  border: none;
  border-radius: 4px;
  height: 48px;
  padding: 0 16px;

  font-family: var(--korean-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.3px;

  color: var(--grayscale-grey-5);

  &:hover {
    color: var(--grayscale-grey-6);
  }

  img {
    margin-left: 12px;
  }
}
