.header {
  margin-top: 56px;
  padding: 0 24px;

  h1 {
    font-family: "Spoqa Han Sans Neo";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -1px;
    color: var(--grayscale-grey-8);
  }

  h2 {
    margin-top: 12px;
    font-family: "Spoqa Han Sans Neo";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.3px;
    color: var(--grayscale-grey-6);
  }
}
