@use "mixins";

.header {
  margin-top: 56px;
  padding: 0 24px;

  @include mixins.breakpoint(mobile) {
    margin-top: 32px;
  }

  h1 {
    font-family: var(--korean-font);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -1px;
    color: var(--grayscale-grey-8);
    word-break: keep-all;

    @include mixins.breakpoint(mobile) {
      font-size: 28px;
    }
  }

  h2 {
    margin-top: 12px;
    margin-bottom: 40px;
    font-family: var(--korean-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.3px;
    color: var(--grayscale-grey-6);
    word-break: keep-all;

    @include mixins.breakpoint(mobile) {
      margin-bottom: 32px;
    }
  }
}
