@use "mixins";

.timestamps {
  padding: 16px;
  margin: 32px 24px 24px 24px;
  background: var(--haru-purple-5);
  border-radius: 4px;

  div {
    display: flex;
    justify-content: space-between;

    .label {
      font-weight: 500;
      font-size: 14px;
      line-height: 160%;
      color: var(--grayscale-grey-7);
    }

    .timestamp {
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      color: var(--grayscale-grey-7);
    }
  }
}

.table {
  margin-bottom: 16px;

  > div {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 2fr 1.5fr 1.5fr;
  }

  @include mixins.breakpoint(mobile) {
    padding: 0 24px;

    > div {
      gap: 7.3px;
      grid-template-columns: 1fr 2fr 1fr 1fr;
    }
  }

  .header {
    padding: 8px 0;
    border-top: 1px solid var(--grayscale-grey-1);
    border-bottom: 1px solid var(--grayscale-grey-1);

    span {
      font-weight: 500;
      font-size: 12px;
      line-height: 160%;
      color: var(--grayscale-grey-5);

      &:first-child {
        font-family: var(--korean-font);
      }

      &:nth-child(2) {
        font-family: var(--korean-font);
        text-align: right;
      }

      &:nth-child(3),
      &:nth-child(4) {
        text-align: right;
      }
    }
  }

  .row {
    padding: 18px 0;
    border-bottom: 1px solid var(--grayscale-grey-1);

    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 160%;
      color: var(--grayscale-grey-8);

      &:first-child {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      &:nth-child(2) {
        text-align: right;
      }

      &:nth-child(3),
      &:nth-child(4) {
        color: var(--state-sucess-default);
        text-align: right;
      }

      &.minus {
        color: var(--state-error-default);
      }
    }
  }
}
