@use "mixins";

.table {
  margin-bottom: 16px;

  > div {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 2fr 1.5fr 1.5fr;
  }

  @include mixins.breakpoint(mobile) {
    padding: 0 24px;

    > div {
      gap: 7.3px;
      grid-template-columns: 1fr 2fr 1fr 1fr;
    }
  }

  .header {
    padding: 8px 0;
    border-top: 1px solid var(--grayscale-grey-1);
    border-bottom: 1px solid var(--grayscale-grey-1);

    span {
      font-weight: 500;
      font-size: 12px;
      line-height: 160%;
      color: var(--grayscale-grey-5);

      &:first-child {
        font-family: var(--korean-font);
      }

      &:nth-child(2) {
        font-family: var(--korean-font);
        text-align: right;
      }

      &:nth-child(3),
      &:nth-child(4) {
        text-align: right;
      }
    }
  }
}
